.main-tickerbox {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invest-main-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#tradingview {
    margin: 25px;
}

.card-body h2 {
    margin-left: 8%;
}

.order-confirm a {
    font-size: 10px;
}

.order-state_list {
    margin-left: 8%;
}

#order-state_jquery {
    font-size: 10px;
}

.account-state-main {
    margin: 30px auto;
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.account-state-main button {
    font-size: 20px;
}

.account-state-action {
    display: flex;
    justify-content: center;
}

.account-state-action button {
    margin: 0 5px;
    padding: 6px 20px;
    filter: drop-shadow(1px 0px 2px rgba(0, 0, 0, 0.20));
    -webkit-filter: drop-shadow(1px 0px 2px rgba(0, 0, 0, 0.20));
    -moz-filter: drop-shadow(1px 0px 2px rgba(0, 0, 0, 0.20));
}


.account-state-flex {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.main-box {
    padding: 30px 20px;
    box-shadow: rgb(120 120 120 / 20%) 10px 10px 15px 5px;
    border-radius: 15px;
    margin: 20px 0 10px 0;
}

.separador {
    height: 2px;
    width: auto;
    margin: auto auto 10px;
    background-color: lightgray;
}

.account-main-list {
    margin: 2px;
    padding: 0 0 0 2%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 50vw;
}

.account-main-list li {
    display: inline;
    margin: auto;
    width: 100vw;
}

.nav-flex-inverapp {
    display: flex;
    justify-content: space-between;
}

.notfound {
    height: 250px;
    width: auto;
}

.cuatrocerocuatro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

